.intro_form {
    height: 80vh; 
    width: 80vw;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}